/* ダッシュボードウィジェット用CSS */

.csp-dashboard-widget {
    padding: 10px;
}

.csp-dashboard-widget h3 {
    margin-top: 20px;
    margin-bottom: 10px;
    padding: 0;
    font-size: 16px;
    font-weight: bold;
}

.csp-dashboard-widget p {
    margin: 5px 0;
    padding: 0;
    font-size: 14px;
}

.csp-dashboard-widget .button {
    margin-top: 10px;
    margin-right: 10px;
}